---
services:
  backend:
    build:
      context: ./backend
    container_name: swabam-backend
    ports:
      - "4000:4000"
    volumes:
      - /home/default/swabam:/home/default/swabam
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: swabam-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped
